<div class="container-fluid">
    <div class="navi row">
        <div class="location col-sm-8">
            <!--
            <span> <a href="#">/</a> </span>
            -->
        </div>
        <div class="title col-sm-4">
            <h1>Home</h1>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Datastore</h3>
        </div>
        <div class="panel-body">

            <form name="searchTreeForm" class="widget-searchform">
                <div class="row">
                    <div class="expandable" ng-class="{'col-xs-offset-4 col-xs-8 col-sm-offset-6 col-sm-6 col-md-offset-8 col-md-4': !focused, 'col-xs-12 col-sm-12 col-md-offset-6 col-md-6 focused': focused}">
                        <div class="input-group">
                            <input type="text" class="form-control" id="tosearchTreeForm" placeholder="search"
                                   ng-focus="focused = true" ng-blur="focused = false"
                                   ng-model="tosearchTreeFilter">
                            <span class="input-group-btn">
                        <button class="btn btn-default" ng-disabled="!tosearchTreeFilter"
                                ng-click="clearSearchTreeForm()" type="button"><i class="fa fa-ban"></i></button>

                        <div class="btn-group" uib-dropdown is-open="status.isopen">
                            <button id="dropdownMenuRightTop" type="button" class="btn btn-primary" uib-dropdown-toggle>
                                <i class="fa fa-cogs"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="dropdownMenuRightTop">
                                <li role="menuitem" ng-click="openNewFolder($event)"><a href="#"><i class="fa fa-folder"></i>New Folder</a></li>
                                <li role="menuitem" ng-click="openNewItem($event)"><a href="#"><i class="fa fa-plus"></i>New Entry</a></li>
                            </ul>
                        </div>
                    </span>
                        </div>
                    </div>
                </div>
            </form>

            <div data-target="menu-datastore-main" context-menu="contextMenuOnShow('menu-datastore-main')" context-menu-close="contextMenuOnClose('menu-datastore-main')" class="expand15">

                <div class="dropdown position-fixed dropdown-rightclick" id="menu-datastore-main">
                    <ul class="dropdown-menu" role="menu">
                        <li role="menuitem" ng-click="openNewFolder($event)"><a href="#"><i class="fa fa-folder"></i>New Folder</a></li>
                        <li role="menuitem" ng-click="openNewItem($event)"><a href="#"><i class="fa fa-plus"></i>New Entry</a></li>
                    </ul>
                </div>
                <!--
                <div>
                    <span ng-repeat="b in breadcrumbs track by $index">
                        &gt; {{b}}
                    </span>
                </div>
                -->

                <div tree-view="structure" tree-view-options="options" ng-if="structure.loaded && (structure.data.folders || structure.data.items)">

                </div>

                <div ng-if="structure.loaded && !(structure.data.folders.length || structure.data.items.length)">

                    <div class="big-font-icon-and-msg">
                        <i class="fa fa-plus-circle hidden-xs" aria-hidden="true"></i>

                        <div>
                            No items.
                            <span class="hidden-xs">Right click here to create one.</span>
                            <span class="hidden-sm hidden-md hidden-lg">Click on the<br><i class="fa fa-cogs"></i><br>symbol in the top right corner to start.</span>
                        </div>
                    </div>

                </div>

                <div ng-if="!structure.loaded">

                    <div class="big-font-icon-and-msg">
                        <i style="
                           display: inline-block;
                           font: normal normal normal 14px/1 FontAwesome;
                           text-rendering: auto;
                           font-size: 3em;
                           text-align: center;
                           animation: fa-spin 2s infinite linear;
                           vertical-align: middle;">&#xf110;</i>
                        Loading
                    </div>

                </div>
                <!--
                <pre>{{ node | json }}</pre>
                -->
                <!--<pre>{{ structure.data | json }}</pre>-->
            </div>
        </div>
    </div>

</div>