<div class="container-fluid">
    <div class="navi row">
        <div class="location col-sm-8">
            <!--
            <span> <a href="#!/share/users">/share/users</a> </span>
            -->
        </div>
        <div class="title col-sm-4">
            <h1>List of Trusted Users</h1>
        </div>
    </div>

    <div ng-controller="ShareusersCtrl" class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Trusted Users</h3>
        </div>
        <div class="panel-body">

            <div data-target="menu-shareusers-main" context-menu="contextMenuOnShow('menu-shareusers-main')" context-menu-close="contextMenuOnClose('menu-shareusers-main')" class="expand15">

                <div class="dropdown position-fixed dropdown-rightclick" id="menu-shareusers-main">
                    <ul class="dropdown-menu" role="menu">
                        <li role="menuitem" ng-click="openNewFolder($event)"><a href="#!/share/users"><i class="fa fa-folder"></i>New Folder</a></li>
                        <li role="menuitem" ng-click="openNewItem($event)"><a href="#!/share/users"><i class="fa fa-user-plus"></i>New User</a></li>
                    </ul>
                </div>

                <!--
                <div>
                    <span ng-repeat="b in breadcrumbs track by $index">
                        &gt; {{b}}
                    </span>
                </div>
                -->

                <div tree-view="structure" tree-view-options="options" ng-if="structure.loaded && (structure.data.folders || structure.data.items)">

                </div>

                <div ng-if="structure.loaded && !(structure.data.folders || structure.data.items)">

                    <div class="big-font-icon-and-msg">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>

                        <div>Your trusted users list is empty. Right click here to add a user to your trusted users list.</div>
                    </div>

                </div>

                <div ng-if="!structure.loaded">

                    <div class="big-font-icon-and-msg">
                        <i style="
                           display: inline-block;
                           font: normal normal normal 14px/1 FontAwesome;
                           text-rendering: auto;
                           font-size: 3em;
                           text-align: center;
                           animation: fa-spin 2s infinite linear;
                           vertical-align: middle;">&#xf110;</i>
                        Loading
                    </div>

                </div>
                <!--
                <pre>{{ node | json }}</pre>
                <pre>{{ structure.data | json }}</pre>
                -->
            </div>

        </div>
    </div>

</div>