<form name="modalAcceptShareForm" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">{{ title }}</h3>
    </div>
    <div class="modal-body">

        <label ng-if="!item.share_right_read" for="modalAcceptShareForm-title" class="smalllabel">Title</label>
        <input ng-if="!item.share_right_read" id="modalAcceptShareForm-title" ng-model="item.share_right_title" class="form-control" type="text">

        <label for="modalAcceptShareForm-path" class="smalllabel">Path</label>
        <div class="input-group path_box_parent">
            <div id="modalAcceptShareForm-path" class="path_box form-control">
                <span ng-if="!breadcrumbs.breadcrumbs">\</span>
                <span class="path_box_breadcrumb"
                      ng-click="cut_breadcrumbs($index, b)"
                      ng-class="{'disabled': ! b.share_rights.read || ! b.share_rights.write}"
                      ng-repeat="b in breadcrumbs.breadcrumbs track by $index">\{{b.name}}</span>
            </div>

            <span class="input-group-btn">
                <button class="btn btn-default" ng-disabled="!breadcrumbs.breadcrumbs"
                        ng-click="clear_breadcrumbs()" type="button">
                    <i class="fa fa-ban"></i>
                </button>
            </span>
        </div>

        <div ng-controller="AcceptShareCtrl" class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Choose location</h3>
            </div>
            <div class="panel-body">
                <div data-target="menu-acceptshare-main" context-menu="contextMenuOnShow('menu-acceptshare-main')" context-menu-close="contextMenuOnClose('menu-acceptshare-main')" class="expand15">

                    <div class="dropdown position-fixed dropdown-rightclick" id="menu-acceptshare-main">
                        <ul class="dropdown-menu" role="menu">
                            <li role="menuitem" ng-click="openNewFolder($event)">
                                <a href="#!/share/pendingshares"><i class="fa fa-folder"></i>New Folder</a>
                            </li>
                        </ul>
                    </div>

                    <!--
                    <div>
                        <span ng-repeat="b in breadcrumbs track by $index">
                            &gt; {{b}}
                        </span>
                    </div>
                    -->

                    <div tree-view="structure" tree-view-options="options" ng-if="structure.loaded && (structure.data.folders || structure.data.items)">

                    </div>

                    <div ng-if="structure.loaded && !(structure.data.folders || structure.data.items)">
                        No Folders so far
                    </div>

                    <div ng-if="!structure.loaded">

                        <div class="big-font-icon-and-msg">
                            <i style="
                           display: inline-block;
                           font: normal normal normal 14px/1 FontAwesome;
                           text-rendering: auto;
                           font-size: 3em;
                           text-align: center;
                           animation: fa-spin 2s infinite linear;
                           vertical-align: middle;">&#xf110;</i>
                            Loading
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <!--<div ng-controller="AcceptshareDashboardCtrl" ng-init="init(item)">-->
            <!--&lt;!&ndash; Start Acceptshare Widget &ndash;&gt;-->
            <!--<adf-dashboard-->
                    <!--name="widgetAcceptshareDashboard"-->
                    <!--structure="4-8"-->
                    <!--editable="false"-->
                    <!--collapsible="false"-->
                    <!--maximizable="false"-->
                    <!--enableConfirmDelete="true"-->
                    <!--adf-model="acceptshare.model">-->
            <!--</adf-dashboard>-->
            <!--&lt;!&ndash; End Acceptshare Widget &ndash;&gt;-->
        <!--</div>-->

        <h4>shared by:</h4>

        <div class="form-group">
            <label ng-if="user.data.user_name" class="smalllabel" for="modalAcceptShareForm-user-name">
                Username: <span ng-if="!user_is_trusted" class="text-danger">(not trusted)</span>
            </label>
            <input ng-if="user.data.user_name" id="modalAcceptShareForm-user-name" type="text" placeholder="Name"
                   ng-value="user.data.user_name" class="form-control" disabled="disabled">
            <label ng-if="!user.data.user_name" class="smalllabel" for="modalAcceptShareForm-user-username">
                Username <span ng-if="!user_is_trusted" class="text-danger">(not trusted)</span>
            </label>
            <input ng-if="!user.data.user_name" id="modalAcceptShareForm-user-username" type="text" placeholder="Username"
                   ng-value="user.data.user_username" class="form-control" disabled="disabled">
            <label class="smalllabel" for="modalAcceptShareForm-user-public-key">
                Public Key: <span ng-if="!user_is_trusted" class="text-danger">(not trusted)</span>
            </label>
            <input id="modalAcceptShareForm-user-public-key" type="text" placeholder="Public Key"
                   ng-value="user.data.user_public_key" class="form-control" disabled="disabled">
        </div>

        <div ng-if="!user_is_trusted">
            <span class="text-danger"><strong>Attention:</strong></span> You never confirmed this user's identity. Please ask the user on a "secure" channel if that
            really is his public key.
            If you confirmed this public key and want to add it to your trusted user datastore click here:
            <a href="#!/share/pendingshares" ng-click="trust(user_list)">Add to trusted users</a>.
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn" type="button" ng-click="cancel();">Close</button>
        <button class="btn btn-primary" type="submit" ng-click="save()">OK</button>
    </div>
</form>