<form name="modalDeleteVerifyForm" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">{{ title }}</h3>
    </div>
    <div class="modal-body">

        <div class="form-group alert alert-danger">
            <strong>Danger!</strong> {{ description }}
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" type="button" ng-click="cancel();">Abort</button>
        <button class="btn btn-primary" type="submit" ng-click="confirm()">Yes</button>
    </div>
</form>