<form name="modalSetupYubikeyOTPForm" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="close()"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">YubiKeys</h3>
    </div>
    <div class="modal-body">

        <uib-tabset>

            <uib-tab heading="Existing YubiKeys">
                <table datatable="ng" class="row-border hover" dt-options="dtOptions" dt-column-defs="dtColumnDefs">
                    <thead>
                    <tr>
                        <th>YubiKey Title</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="yubikey_otp in yubikey_otps">
                        <td>{{ yubikey_otp.title }}</td>
                        <td>
                            <button type="button" class="btn btn-default btn-sm" ng-click="delete_yubikey_otp(yubikey_otps, yubikey_otp.id)">
                                Delete
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </uib-tab>

            <uib-tab heading="New YubiKey">
                <br>

                <div class="form-horizontal">
                    <div class="form-group">

                        <label class="control-label col-sm-6 col-md-4"
                               for="newYubiKeyForm-title">
                            <span>Title</span>
                        </label>

                        <div class="col-sm-6 col-md-8">
                            <input type="text" ng-model="new_yubikey_otp.title"
                                   ng-required="true"
                                   placeholder="Title of your YubiKey" id="newYubiKeyForm-title"
                                   name="title"
                                   class="form-control">
                            <span ng-repeat="e in errors" class="help-block">{{e}}</span>
                        </div>
                    </div>
                    <div class="form-group">

                        <label class="control-label col-sm-6 col-md-4"
                               for="newYubiKeyForm-otp">
                            <span>YubiKey OTP</span>
                        </label>

                        <div class="col-sm-6 col-md-8">
                            <input type="text" ng-model="new_yubikey_otp.otp"
                                   ng-required="true"
                                   placeholder="One of your YubiKey OTPs" id="newYubiKeyForm-otp"
                                   name="otp"
                                   class="form-control" ng-keyup="$event.keyCode == 13 && create_yubikey_otp(new_yubikey_otp)">
                            <span ng-repeat="e in errors" class="help-block">{{e}}</span>
                        </div>
                    </div>

                </div>
            </uib-tab>

        </uib-tabset>

    </div>
    <div class="modal-footer">
        <button class="btn" type="button" ng-click="close();">Close</button>
    </div>
</form>